<template lang="html">
  <section class="results-view-header">
    <div></div>
    <h1>РЕЗУЛЬТАТЫ ({{ resultCount }})</h1>
    <div class="buttons">
      <button v-on:click="filterByCitySumm">Фильтр по городам</button>
      <button v-on:click="filterByIssueSumm">Фильтр по сумме</button>
      <button v-on:click="requestDefendantContacts">Контакты Ответчиков</button>
      <button v-on:click="filterByPhoneSumm">Фильтр по тел-ам</button>
      <button v-on:click="uploadDefendants">Выгрузить ответчиков</button>
    </div>
  </section>
</template>

<script lang="js">
  export default  {
    name: 'results-view-header',
    props: [],
    mounted() {

    },
    data() {
      return {

      }
    },
    methods: {
      filterByIssueSumm() {
        const { results, delayValues } = this.$store.state;
        console.log(`[ResultsViewHeader] Starting Filter By Sum`, { results });

        const claimLinks = results.filter(r => !r.url.claimSum ).map(r => {
          const { url } = r;
          const lnk = {...url};
          lnk.href = lnk.href.replace(`/Card/`, `/PrintCard/`);
          return lnk;
        });

        debugger;
        const filterTimer = setInterval(() => {
          this.retreiveSumFromCardPage(claimLinks, filterTimer);
        }, delayValues.sumDelay);
      },
      retreiveSumFromCardPage(claimLinks, filterTimer) {
        const { filterValues: { minSum, maxSum } } = this.$store.state;
        const claimLink = claimLinks.shift();
          if (!claimLink) {
            clearInterval(filterTimer);
            alert(`Фильтрация по сумме завершена.`);
            return;
          }

          const { href: claimHref, text: claimId } = claimLink;

          fetch(claimHref)
            .then(res => res.text())
            .then((claimResponse) => {
              const captchaMatch = [...claimResponse.matchAll(/(Подтверждение действия)|(Превышено количество попыток)/gm)];
              if (captchaMatch.length) {
                throw new Error(`Captcha protection activated!`);
              }

              console.info(`[ResultsViewHeader] Filter By Sum. Received claim data: `, { claimId, claimResponse });
              const m = [...claimResponse.matchAll(/Сумма[\sа-яА-Я]+[\s]+([\d]+(,[\d]{0,2})?)/gm)]
              if (m.length && m[0].length && m[0][1].length) {
                const claimSum = Number.parseFloat(m[0][1].replace(`,`,`.`));
                if (claimSum > minSum && claimSum <= maxSum) {
                  this.$store.dispatch(`setClaimSum`, { claimId, claimSum });
                } else {
                  this.$store.dispatch(`deleteClaim`, { claimId });
                }
              }
            })
            .catch((err) => {
              clearInterval(filterTimer);
              console.warn(`[Filter by Sum] Error:\n`, err);
              alert(`Активирована капча. Откройте любое дело в новой вкладке и введите капчу. После проверки снова запустите фильтр по сумме.`);
            });
      },
      filterByPhoneSumm() {
        this.$store.dispatch(`removeEmptyPhones`);
      },
      filterByCitySumm() {
        this.$store.dispatch(`removeSameCity`);
      },
      requestDefendantContacts() {
        this.$store.dispatch(`requestDefendantContacts`);
      },
      uploadDefendants() {
        this.$store.dispatch(`uploadDefendants`);
      },
    },
    computed: {
      resultCount: function() {
        const { filteredResults } = this.$store.state;
        return filteredResults.length;
      }
    }
}
</script>

<style scoped lang="scss">
.results-view-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  & > * {
    width: 100%;
  }

  & > h1 {
    text-align: center;
  }

  & > div.buttons {
    display: flex;
    justify-content: flex-end;
  }
}
</style>
