$sp1Width: 100%;
$sp2Width: 300px;
$sp2Height: 97%;

.section-panel {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: $sp1Width;
  height: 64px;

  h1,
  h2,
  h3 {
    font-size: x-large;
    color: rgba($color: #daa453, $alpha: 1);
  }

  h2 {
    font-size: large;
  }

  &.visible {
    display: flex;
  }

  &.expanded {
    height: 100%;
  }
}

.section-panel-2 {
  width: $sp2Width;
  height: $sp2Height;
  padding: 0 5px 1%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: solid rgba($color: #daa453, $alpha: 1);
  border-width: 0 1px;
  border-radius: 5px;

  h2 {
    text-align: center;
    font-size: large;
  }

  h3 {
    text-align: left;
    font-size: medium;
    margin-top: 10px;
  }

  .full-height {
    height: $sp2Height - 1%;
    min-height: 10%;
    min-width: $sp2Width - 10px;
  }
}
