<template lang="html">
  <section class="delay-values section-panel-2">
    <h2>Задержки</h2>
    <h3>Фильтрация по сумме</h3>
    <input v-model="$store.state.delayValues.sumDelay" class="selector-input" />
    <h3>Контакты</h3>
    <input v-model="$store.state.delayValues.contactDelay" class="selector-input" />
    <section class="spacer" />
  </section>
</template>

<script lang="js">
  export default  {
    name: 'delay-values',
    props: [],
    mounted() {
      // this.$store.dispatch(`createDomObserver`);
    },
    data() {
      return {
        // domObserver: null,
      }
    },
    methods: {
    },
    computed: {

    }
}
</script>

<style scoped lang="scss">
.delay-values {
  .spacer {
    height: 100%;
  }
}
</style>
