<template lang="html">
  <section class="section-panel" :class="{ visible: this.$store.state.ui.rootExpanded, expanded: this.$store.state.ui.settingsExpanded }">
    <h1>НАСТРОЙКИ</h1>
    <section class="section-content">
      <filter-values />
      <data-selectors />
      <court-filter />
      <delay-values />
    </section>
  </section>
</template>

<script lang="js">
  import FilterValues from "./components/FilterValues";
  import DataSelectors from "./components/DataSelectors.vue";
  import CourtFilter from "./components/CourtFilter.vue";

  import "../../../../style.scss";
import DelayValues from "./components/DelayValues.vue";

  export default  {
    name: 'settings-view',
    props: [],
    components: {
    FilterValues,
    DataSelectors,
    CourtFilter,
    DelayValues
},
    data() {
      return {}
    },
    methods: {},
    computed: {},
    mounted() {
      this.$store.dispatch(`restoreMainSettings`);
      this.$store.watch(
        (state) => {
          const {
            apiKey,
            filterValues: { minSum, maxSum, courts },
          } = state;
          return { apiKey, minSum, maxSum, courts };
        },
        (newValue, oldValue) => {
          this.$store.dispatch(`saveMainSettings`);
        },
      );
    },
}
</script>

<style scoped lang="scss">
.section-panel {
  .section-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
</style>
